@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  scroll-behavior: smooth;
}

body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Rubik', sans-serif;
  background-attachment: fixed;
}

header h1 {
  font-weight: 500;
}